.ContextMenuContainer {
    visibility: hidden;
    opacity: 1;
    position: absolute;
    text-align: center;
    width: 10rem;
    z-index: 666;
    background: rgba(255, 255, 255, 1);
    border: 1px solid;
    border-color: #eee;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 1px 1px 3px 1px #fff;
    margin: 0.5rem;
}
.MuiList-padding {
    padding: .5rem !important;
}