$width: 3.5rem;
.sideNavContainer {
    display: flex;
    flex-direction: column;
    width: $width;
    background: #424242;
    color: #eee;
    z-index: 6;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.topPart {
    flex: 1 0 auto;
    align-self: flex-start;
}
.bottomPart {
    flex: 1 0 auto;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navItem {
    flex: 0 1 auto;
    width: $width;
    height: $width;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .7;
    i {
        font-size: 0.5 * $width;
        position: absolute;
    }
    .itemLeftBorder {
        left: 0;
        flex: 1 0 auto;
        display: block;
        width: 2px;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 0;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        border-left: 2px solid rgba(0,0,0,0);
      }
    &:hover {
        opacity: 1;
        background: rgba(255,255,255,0.1);
        .itemLeftBorder {
            border-color: rgba(255,51,58,1);
        }
    }
}

.selected {
    opacity: 1;
    background: rgba(255,255,255,0.1);
    .itemLeftBorder {
        border-color: rgba(255,51,58,1);
    }
}