.CascadingListContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    list-style: none;
    display: block;
    padding: 0px;
    margin: 0px;
}
.CListItem {
    position: relative;
    display: flex;
    flex-direction: column;
}
.CListItemMain {
    list-style: none;
    // z-index: 999;
    position: relative;
    min-height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0 0 1px 0 solid;
    font-size: 1rem;
    color: #333333;
    opacity: .8;
    cursor: pointer;
    line-height: 2rem;
    .iconfont {
        font-size: 1.3rem;
        transition: all linear .1s;
    }
    &:hover {
        opacity: 1;
        background: #eee;
    }
}

.rotate {
    transform: rotate(90deg);
}
.alignLeft {
    flex: 1 0 auto;
    align-self: flex-start;
}
.alignRight {
    right: 0;
    position: absolute;
}