@import "../baseStyle.scss";

.CascadingListContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    list-style: none;
    display: block;
    padding: 0px;
    margin: 0px;
}

.CListItem {
    position: relative;
    display: flex;
    flex-direction: column;
}

.nested {
    padding-left: 10px;
}

.CListItemMain {
    list-style: none;
    position: relative;
    min-height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0 0 1px 0 solid;
    font-size: 1rem;
    color: #333333;
    opacity: .8;
    cursor: pointer;
    line-height: 2rem;
    .iconfont {
        padding-left: 0;
        // padding-right: 1rem;
        font-size: 1.3rem;
        transition: all linear .1s;
    }
    &:hover {
        opacity: 1;
        background: #ddd;
    }
}

.selected {
    opacity: 1;
    background: #ccc;
    &:hover {
        opacity: 1;
        background: #ccc;
    }
}

.CListItemMusk {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2rem;
    z-index: 3;
    &:hover {
        opacity: 1;
        background: #eee;
    }
}
.rotate {
    transform: rotate(90deg);
}
.alignLeft {
    display: inline-block;
    flex: 0 1 auto;
    align-self: flex-start;
}
.alignRight {
    right: 0;
    position: absolute;
}

.noChildren {
    display: inline-block;
    width: 1rem;
}