.listContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
}
.topBar {
    position: relative;
    display: flex;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding-right: 1rem;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
    .listHeader {
        cursor: pointer;
        // padding: 1rem 0 1rem 1rem;
        align-items: center;
        flex: 1 0 auto;
        width: 1rem;
        font-size: 1.5rem;
        text-align: left;
        // margin-right: 1rem;
        background: #fff;
        &:first-child {
            padding: 0 0 0 1rem;
        }
    }
    .listHeader:hover {
        background: #eee;
    }
}
.listBody {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: rgba(210, 210, 210, 0.1);
    padding-top: 0.5rem;
    flex: 1 0 auto;
    position: relative;
    height: 100%;
    overflow: scroll;
    .listItem {
        padding: 1rem;
        display: inline-flex;
        cursor: pointer;
        .itemProperty {
            flex: 1 0 auto;
            display: inline-block;
            width: 1rem;
            margin-right: 1rem;
            white-space: nowrap;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            word-break: break-all;
        }
    }
}
.listBody .listItem:hover {
    background: #eee;
}
.listBody::-webkit-scrollbar {
    width: .5rem;
  }
.listBody::-webkit-scrollbar-thumb {
/*滑块*/
    border-radius: 10px;
    background: #868686;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
.listBody::-webkit-scrollbar-track {
/*轨道*/
    border-radius: 10px;
    background: #EDEDED;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
}
.selecting .listItem:hover {
    background: none;
} 
.dragMusk {
    position: absolute;
    background-color: rgb(162, 162, 162);
    opacity:0.3;
    border:1px dashed #d9d9d9;
    z-index: 11116;
}
.active {
    background: #eee;
}