$fontSize: 1.7rem;
.searchBar {
    width: 2rem;
    display: flex;
    height: 100%;
    margin: 0 .5rem 0 .5rem;
    align-items: center;
    position: relative;
    transition: width .6s cubic-bezier(0.19, 1, 0.22, 1);
    input {
        position: relative;
        height: 80%;
        width: 100%;
        visibility: hidden;
        padding: 0 10px 0 2.5rem;
        align-self: center;
        margin: 0;
        border: 0;
        -webkit-appearance:none;
        -moz-appearance: none;
        border-radius: 1rem;
        outline: 0;
        font-size: .9rem;
        border: .06rem solid #868686;
        border-color: #868686;
        color: #868686;
        &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #868686;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #868686;
        }
        &::-webkit-input-placeholder{
            color: #868686;
        }
        transition: width .6s cubic-bezier(0.19, 1, 0.22, 1);
    }
    #searchIcon {
        cursor: pointer;
        position: absolute;
        left: 0;
        margin: 0;
        padding: 0 0 0 0.5rem;
        align-self: center;
        justify-self: center;
        z-index: 999;
        font-size: $fontSize;
    }
}
