.topBarContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 3rem;
    align-items: center;
}
.topBarLeft {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    padding: 0 1rem 0 1rem;
}
.topBarRight {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    padding: 0 1rem 0 1rem;
    & i:active {
        transform: scale(0.8)
    }
}
.alignStart {
    justify-self: flex-start;
}
.alignEnd {
    justify-self: flex-end;
}
.block {
    display: block;
}
.expandSelf {
    flex: 1 0 auto;
}
.shrinkSelf {
    flex: 0 1 auto;
}
.iconfont {
    padding: 0 0.5rem 0 .5rem;
}