.App {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.main {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #f4f4f4;
}

.cloud {
    flex: 1 0 auto;
    height: 94vh;
    display: flex;
}
