.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  min-height: 4rem;
}
.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%
}
