.barBorder {
    margin: 0.5rem;
    position: relative;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    width: 20rem;
    height: 1rem;
    background: #eee;
}
.innerPad {
    width: 1rem;
    height: 1rem;
    background: red;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: width 1s linear;
    -webkit-transition: width 1s linear;
    -moz-transition: width 1s linear;
    -ms-transition: width 1s linear;
    -o-transition: width 1s linear;
}
.innerPad:hover {
    width: 10rem;
}
.scaleBar {
    display: flex;
    flex-direction: row;
    width: 20rem;
    color: #868686;
    height: 1rem;
}
.scaleValue {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: absolute;
    align-self: center;
}
.preImg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}
.heartImg {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.indicatorLine {
    position: absolute;
    height: 0.5rem;
    width: 0.05rem;
    top: -50%;
    background: #fff;
    align-self: center;
}
.indicatorValue {
    height: 1rem;
    font-size: 0.25rem;
}